// /* Montserrat-Black */
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Black.ttf');
}
// /* Montserrat-BlackItalic */
@font-face {
  font-family: 'Montserrat-BlackItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf');
}
// /* Montserrat-Bold */
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
// /* Montserrat-BoldItalic */
@font-face {
  font-family: 'Montserrat-BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf');
}
// /* Montserrat-ExtraBold */
@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}
// /* Montserrat-ExtraBoldItalic */
@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}
// /* Montserrat-ExtraLight.ttf */
@font-face {
  font-family: 'Montserrat-ExtraLight.ttf';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
// /* Montserrat-ExtraLightItalic */
@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
}
// /* Montserrat-Italic */
@font-face {
  font-family: 'Montserrat-Italic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
}
// /* Montserrat-Light */
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
// /* Montserrat-LightItalic */
@font-face {
  font-family: 'Montserrat-LightItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf');
}
// /* Montserrat-Medium */
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
// /* Montserrat-MediumItalic */
@font-face {
  font-family: 'Montserrat-MediumItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
// /* Montserrat-Regular */
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
// /* Montserrat-SemiBold */
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}
// /* Montserrat-SemiBoldItalic */
@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}
// /* Montserrat-Thin */
@font-face {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
}
// /* Montserrat-ThinItalic */
@font-face {
  font-family: 'Montserrat-ThinItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf');
}
// /* Prata-Regular */
@font-face {
  font-family: 'Prata-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Prata/Prata-Regular.ttf');
}
