.footer {
    min-width: 1200px;
    background-color: #f6f6f6;
    font-size: 14px;
    padding: 55px, 0;
    font-family: 'Montserrat-Regular';
}
.footer_container {
    width: 555px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.link_footer_facebook {
    margin-right: 2%;
    transform: scale(0.8);
}
.link_footer_insta {
    transform: scale(0.8);
}
.footer_text {
    margin-left: 4%;
    padding-left: 32px;
    border-left: 2px solid #1a191b;
    font-size: 13px;
    line-height: 34px;
    font-weight: 500;
}