.html--menu-opened,
.body--menu-opened {
    overflow: hidden;
    height: 100%;
}

.header {
    position: relative;
    padding: 30px 15px 20px;
    text-align: center;
    background: url(../img/bg-header-small.png) no-repeat;
    background-color: #f5f5f5;
    background-position: 100% 100%;

    &__logo {
        width: 160px;
        height: 120px;
        margin: 0 auto 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &--opened {
        .header__nav-container {
            display: flex;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;   
        }

        .header__nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            background: #d1bca9;
        }

        .header-modal-menu__list {
            margin: 25px;
        }

        .header-modal-menu__item {
            color: #424242;
            text-decoration: none;
            font-size: 24px;
            text-transform: uppercase;
            font-family: "Montserrat-Light";
        }

        .header-modal__text {
            position: absolute;
            color: #fff;
            opacity: 0.2;
            font-size: 160px;
            right: 0;
            transform: translateY(-100%) translateX(240px) rotate(90deg);
            font-family: "Prata", serif;
        }

        .header__close {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: calc(25% - 1px);
                left: 50%;
                border-bottom: 1px solid #000;
                transform: translateY(-50%) rotate(45deg);
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: calc(25% - 1px);
                right: 25%;
                border-bottom: 1px solid #000;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    &__title {
        position: relative;
        color: #424242;
        font-family: "Montserrat-Regular";
        font-size: 31px;
        line-height: 45px;
        text-transform: uppercase;
        padding-bottom: 15px;
        margin-bottom: 13px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 70px;
            height: 1px;
            transform: translateX(-50%);
            background-color: #232323;
        }
    }

    &__slogan {
        color: #565656;
        font-family: "Montserrat-Regular";
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 40px;

        &--colored {
            color: #c0a38a;
            text-transform: uppercase;
        }
    }

    &__button {
        display: block;
        width: 260px;
        height: 54px;
        margin: 0 auto 60px;
        border: 1px solid #000;

        .sign_up {
            color: #232323;
            line-height: 54px;
            text-decoration: none;
            font-family: "Montserrat-SemiBold";
            font-size: 11px;
            text-transform: uppercase;
            display: inline-block;;
            width: 260px;
            height: 54px;
            transition-delay: 50ms;
            transition-duration: 200ms;

            &:hover {
                background-color: #ebebeb;
            }
        }
    }

    &__top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding-bottom: 40px;
    }

    &__address {
        display: none;
    }

    &__toggle {
        background-image: none;
        width: 30px;
        height: 20px;
        border-bottom: 1px solid #000;
        position: absolute;
        cursor: pointer;
        right: 30px;

        &::before {
            content: "";
            display: block;
            width: 30px;
            border-bottom: 1px solid #000;
            position: absolute;
            top: 10px;
            left: 0px;
        }

        &::after {
            content: "";
            display: block;
            width: 30px;
            border-bottom: 1px solid #000;
        }
    }

    .outside {
        display: none;
    }
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #232323;
    font-weight: 600;
    font-size: 12px;

    &__icon {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        color: inherit;

        svg {
            fill: currentColor;
        }
    }

    &__text {
        color: inherit;
        text-decoration: none;
        font-family: "Montserrat-Medium";
    }
}

.scrolldown,
.fixed,
.header__left-text,
.header__nav-container {
    display: none;
}

@media (min-width: 480px) {
    .header {
        background: url(../img/bg-header480.png) no-repeat;
        background-color: #f5f5f5;
        background-position: 100% -10%;
        padding-top: 30px;

        &__top {
            justify-content: space-between;
        }
        &__address {
            display: block;
            font-family: 'Montserrat-Medium';
            color: #232323; 
            font-size: 10px;
            font-weight: 600;

            &::before{
                content: url(../svg/icon-pin.svg)"";
                display: inline-block;
                width: 17px;
                height: 19px;
                margin-right: 5px;
            }
        }
        &__title {
            font-size: 29px;
        }
    }
}
@media (min-width: 768px) {
    .header {
        .outside {
            display: block;
            flex: 1;
        }

        &__nav {
            position: relative;
            max-width: 400px;
        }
    }
}

@media (min-width: 1200px) {
    .header {
        background: url(../img/bg-header.png) no-repeat;
        background-size: 100%;
        background-position-y: -25px;
        position: relative;
        height: 700px;

        &__top {
            margin: 0 auto;
            width: 80%;
            justify-content: space-between;
        }

        &__toggle {
            right: 165px;
        }
    }
    
    
    .fixed {
        display: block;
        position: fixed;
        margin: auto;
        bottom: 30px;
        right: 40px;
        width: 230px;
        height: 40px;
        z-index: 2;
    }
    .sing_up__fixed {
        padding: 11px 36px;
        background-color: #91102e;
        font-family: "Montserrat-Bold";
        font-size: 10px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        transition-duration: 200ms;
        transition-delay: 50ms;
    }
    .sing_up__fixed:hover {
        background-color: #d11b45;
    }
    
    .scrolldown {
        display: block;
        width: 150px;
        margin-left: 24px;
        margin-top: 295px;
        
        &__text {
            color: #555;
            font-family: "Montserrat-Medium";
            font-size: 14px;
            transform: rotate(90deg);
            text-align: left;
            
            &::before {
                content: "";
                display: block;
                width: 100px;
                border-top: 1px solid #232323;
                position: absolute;
                top: 20px;
                opacity: 0.15;
            }
        }
    }
    .header__left-text {
        display: block;
        position: absolute;
        top: 393px;
        left: -230px;
        transform: rotate(90deg);
        color: #fff;
        font-size: 180px;
        font-family: "Prata-Regular";
    }
    .phone {
        transform: rotate(90deg);
        position: absolute;
        right: 118px;
        top: 575px;
        
        &::before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 260px;
            border-left: 1px solid #232323;
            opacity: 0.15;
            position: absolute;
            left: -180px;
            transform: rotate(90deg);
        }
    }
}