// modal window
.modal-window {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bg-modal.png) no-repeat;
    background-size: cover;
    z-index: 99999;
    display: none;
}
.modal-window > div {
    width: 290px;
    height: 540px;
    position: relative;
    margin: 120px auto;
    padding: 5px 20px 13px 20px;
}
.modal-window-logo {
    background: url(../img/logo.png) no-repeat;
    width: 300px;
    height: 300px;
    background-size: contain;
}
.modal-window-title {
    margin-top: 25px;
    color: #232327;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.modal-window-title::after{
    content: "";
    display: table;
    width: 45%;
    border-bottom: 4px solid #00bcd4;
    margin: 10px auto;
}
.modal-window-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    color: #000;
    font-weight: 700;
}
.modal-window-form-row {
    margin: 15px auto;
}
.modal-window-form > input {
    margin: 10px 0;
    
}
.modal-window-form input[type=text],
.modal-window-form input[type=tel],
.modal-window-form input[type=email] {
    width: 250px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.288);
    font-family: 'Montserrat-Regular';
    border: none;
}

.modal-window:target {
    display: block;
    pointer-events: auto;
}
.modal-window-close {
    color: #606061;
    position: absolute;
    text-decoration: none;
    right: -412px;
    top: -10px;
    width: 24px;
    content: "X";
    font-size: 30px;
    font-family: Montserrat-Regular;
}

// modal window
header {
    min-width: 1200px;
    height: 690px;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
    background: url(../img/bg-header.png) no-repeat;
    background-size: cover;
}
.header-container {
    width: 85%;
    margin: 0 auto;
}
.header-container__left-text {
    color: #fff;
    font-family: 'Prata-Regular';
    font-size: 15em;
    transform: rotate(90deg);
    position: absolute;
    left: -260px;
    bottom: 180px;
    margin: 0;
}
.header-nav {
    padding-top: 25px;
}
.header-nav__visible {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
}
.header-address {
    font-family: 'Montserrat-Medium';
    color: #232323; 
    font-size: 14px;
}
.header-address::before {
    content: url(../svg/icon-pin.svg)"";
    display: inline-block;
    width: 26px;
    height: 19px;
    margin-right: 10px;
}
.header-toggle {
    width: 50px;
    background-image: url(../img/icon-toggle.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.header-modal {
    display: none;
    height: 720px;
    width: 269px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/bg-menu.png);
    z-index: 1;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
.close {
    content: "X";
    display: block;
    font-size: 30px;
    font-family: "Montserrat-Regular";
    color: #414141;
    position: absolute;
    top: 40px;
    left: 40px;
    text-decoration: none;
}
.header-modal-menu {
    margin-top: 200px;
}
.header-modal-menu__list {
    list-style: none;
    line-height: 1.5;
    padding: 12px 0;
}
.header-modal-menu__item {
    color: #414141;
    font-family: "Montserrat-Regular";
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-modal__text {
    font-family: "Prata-Regular";
    font-size: 190px;
    color: #fff;
    opacity: .2;
    transform: rotate(90deg);
    position: absolute;
    top: 199px;
    left: -15px;
    margin: 0;
    padding: 0;
}
.header-logo {
    margin: 0 auto;
    width: 200px;
    height: 148px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
}
.header-slogan {
    width: 1150px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.header-slogan__title {
    color: #414141;
    font-family: "Montserrat-Regular";
    font-size: 31px;
    text-transform: uppercase;
}
.header-slogan__text {
    color: #555;
    font-family: "Montserrat-Regular";
    font-size: 20px;
    margin-bottom: 130px;
    position: relative;
}
.header-slogan__text::before {
    content: "";
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid #232323;
    position: absolute;
    bottom: 10px;
    left: 270px;
}
.header-slogan__text__upper {
    color: #c0a38a;
    font-family: 'Montserrat-Medium';
    text-transform: uppercase;
}
.header-slogan__text::after {
    content: "";
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid #232323;
    position: absolute;
    bottom: 10px;
    right: 270px;
}
.sing_up {
    width: 290px;
    height: 54px;
    border: 1px solid #232323;
    background-color: transparent;
    padding: 11px 50px;
    color: #232323;
    font-family: "Montserrat-SemiBold";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
.sing_up:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #88233b;
}
.header-slogan > .sing_up::before {
    content: "";
    display: block;
    height: 75px;
    border-left: 1px solid #232323;
    position: absolute;
    top: 100px;
    left: 50%;
}
.scrolldown {
    width: 100px;
    margin-left: 58px;
    margin-top: 177px;
}
.scrolldown__text {
    color: #555;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    transform: rotate(90deg);
}
.scrolldown__text::before {
    content: "";
    display: block;
    width: 100px;
    border-top: 1px solid #232323;
    position: absolute;
    top: 20px;
    opacity: 0.15;
}
.telephone {
    width: 200px;
    position: absolute;
    right: 11px;
    bottom: 184px;
}
.telephone::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 260px;
    border-left: 1px solid #232323;
    opacity: 0.15;
    position: absolute;
    bottom: 171px;
    left: 90px;
}
.telephone__text {
    color: #232323;
    font-family: "Montserrat-Medium";
    font-size: 11px;
    transform: rotate(90deg);
    letter-spacing: 1px;
}
.telephone__text::before {
    content: url(../svg/icon-phone-call.svg)"";
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 10px;
    padding-top: 10px;
}
.fixed {
    position: fixed;
    margin: auto;
    bottom: 30px;
    right: 40px;
    width: 230px;
    height: 40px;
    z-index: 2;
}
.sing_up__fixed {
    padding: 11px 36px;
    background-color: #91102e;
    font-family: "Montserrat-Bold";
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition-duration: 200ms;
    transition-delay: 50ms;
}
.sing_up__fixed:hover {
    background-color: #d11b45;
}

@media (min-width: 320px) and (max-width:480px){   
    .header {
        min-width: 320px;
        background-position: -80px 0;
        background-image: url(../img/bg-header-small.png);
    }
    .header-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
    }
    .header-toggle {
        background-image: none;
        width: 35px;
        height: 20px;
        border-bottom: 1px solid #000;
        position: relative;
    }
    .header-toggle::before {
        content: "";
        display: block;
        width: 35px;
        border-bottom: 1px solid #000;
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .header-toggle::after {
        content: "";
        display: block;
        width: 35px;
        border-bottom: 1px solid #000;
    }
    .header-slogan {
        width: 320px;
    }
    .header-slogan__title::after {
        content: "";
        display: block;
        width: 25%;
        border-bottom: 2px solid #000;
        padding-top: 20px;
        margin: auto;

    }
    .header-slogan__text {
        font-size: 16px;
    }
    .header-container__left-text,
    .header-address,
    .scrolldown,
    .fixed,
    .header-slogan__text::before,
    .header-slogan__text::after,
    .header-slogan > .sing_up::before {
        display: none;
    }
    .sing_up {
        padding: 20px 80px;
    }
    .telephone {
        right: 53px;
        bottom: 60px;
    }
    .telephone__text {
        font-size: 14px;
        transform: rotate(0deg);
        position: inherit;
    }
    .telephone__text::before {
        width: 15px;
    }
    .telephone::before {
        display: none;
    }
}