
.section {
    &__title {
        line-height: 43px;
        font-weight: 300;
        font-size: 23px;
        font-family: "Montserrat-Light";
        text-transform: uppercase;
    }
    &__map {
        
        &--item {
            width: 290px;
            height: 300px;
            
        }
    }

    &__img {
        display: none;
    }

    &__info {
        text-align: left;
        font-family: "Montserrat-Regular";
        color: #4b4a4a;
        font-size: 14px;

        &--street {
            padding-top: 15px;
            line-height: 20px;
        }
        
        &--time {
            padding: 15px 0;
            line-height: 20px;
        }
        &--phone {
            line-height: 20px;
        }
    }
    .bold {
        font-weight: 900;
        color: #000;
    }
}
@media (min-width: 479px) {
    .section {
        &__map {
            &--item {
                width: 450px;
                height: 360px;
            }
        }
    }
}
@media (min-width: 768px) {
    .location {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        position: relative;
    }
    .wrapp {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .section {
        &__img {
            display: block;

            &--item {
                width: 50%;
            }
        }
    }
}

