
.section {
    &__title {
        line-height: 43px;
        font-weight: 300;
        font-size: 23px;
        font-family: "Montserrat-Light";
        text-transform: uppercase;
    }
    &__map {
        
        &--item {
            width: 100%;
            height: 300px;
            
        }
    }

    &__img {
        display: none;
    }

    &__info {
        text-align: left;
        font-family: "Montserrat-Regular";
        color: #4b4a4a;
        font-size: 14px;

        &--title {
            display: none;
        }

        &--street {
            padding-top: 25px;
            line-height: 20px;
        }
        
        &--time {
            padding: 15px 0;
            line-height: 20px;
        }
        &--phone {
            line-height: 20px;
        }
    }
    .bold {
        font-weight: 900;
        color: #000;
    }
}
@media (min-width: 480px) {
    .section {
        &__map {
            &--item {
                height: 360px;
            }
        }
    }
}
@media (min-width: 991px) {
    .location {
        position: relative;
    }
    .wrapp {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    .section {
        &__img {
            display: block;
            position: absolute;
            top: 43px;
            z-index: -1;

            &--item {
                width: 50%;
            }
        }
        &__map {
            width: 30%;
            z-index: 0;
        }
        &__info {
            position: absolute;
            right: calc(20% - 200px);
            top: 200px;
            &--title {
                display: block;
                width: 200px;
                line-height: 32px;
                font-size: 32px;
                font-family: "Montserrat-Light";
                text-transform: uppercase;
            }
        }
    }

    .location__title {
        display: none;
    }
}

