
.section {

    .google-map {
        width: 100%;
        height: 100%;
        box-shadow: -1px 4px 8px 2px rgba(0,0,0,.12);
    }

    .desktop-wrapp {
        .section__info {
            .section__logo--hidden {
                display: none;
            }
        }
        .wrapp{
            &__title {
                display: none;
            }
        }
    }
    
    &__title {
        line-height: 43px;
        font-weight: 300;
        font-size: 23px;
        font-family: "Montserrat-Light";
        text-transform: uppercase;
    }
    
    &__map {
        width: 100%;
        height: 380px;
    }
    
    &--item {
        width: 100%;
        height: 300px;
        
    }

    &__img {
        display: none;
    }

    &__info {
        text-align: left;
        font-family: "Montserrat-Regular";
        color: #4b4a4a;
        font-size: 14px;

        &--bold {
            font-family: 'Montserrat-SemiBold';
            color: #1a191b;
        }

        &--title {
            display: none;
        }

        &--street {
            padding-top: 25px;
            line-height: 20px;
        }
        
        &--time {
            padding: 15px 0;
            line-height: 20px;
        }
        &--phone {
            line-height: 20px;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
@media (min-width: 480px) {
    .section {
        &__map {
            width: 100%;

            &--item {
                height: 360px;
            }
        }
    }
}
@media (min-width: 991px) {
    .location {
        position: relative;
        padding-top: 150px;
        padding-bottom: 150px;

        .section__logo {
            display: none;
        } 
    }

    .wrapp {
        position: relative;
        flex: 1;

        &__title {
            font-family: "Prata-Regular";
            font-size: 179px;
            color: #f6f6f6;
            line-height: 250px;
            transform: rotate(90deg) translate(5px, -68px);
        }
    }

    .section {

        &__img {
            display: block;
            position: absolute;
            top: 40px;
            right: -40px;
            width: 70%;
            height: 105%;
            z-index: -1;

            &--item {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .desktop-wrapp {
            .wrapp {
                &__title {
                    display: block;
                }
            }
            display: flex;
            justify-content: space-between;

            .section__info {
                .section__logo--hidden {
                    display: block;
                    margin-left: 40px;
                }
            }
        }

        &__map {
            position: relative;
            height: 150%;
            width: 53%;
            top: -10%;
            transform: translateY(-50%);
            z-index: 0;
        }

        .google-map {
            width: 100%;
            height: 100%;
            box-shadow: 0px 13px 33px 3px rgba(0,0,0,.12);
        }

        &__info {
            width: 24%;
            padding-left: 75px;
            padding-top: 40px;

            &--title {
                display: block;
                width: 185px;
                font-size: 30px;
                line-height: 40px;
                font-family: "Montserrat-Light";
                text-transform: uppercase;
            }
        }
    }

    .location__title {
        display: none;
    }
}

@media (min-width: 1200px) {
    .location {
        padding-top: 60px;
    }

    .wrapp {

        &__title {
            transform: rotate(90deg) translate(95px,-68px);
        }
    }
}