.section-masters {
    width: 100%;
    min-width: 1652px;
    margin: 90px auto 0 auto;
    position: relative;
}
.section-masters__logo {
    background: url(../img/logo-small.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 59px;
    margin: 0 auto;
}
.section-masters__logo::before,
.section-masters__logo::after {
    content: "";
    display: block;
    width: 49px;
    border-bottom: 1px solid #19191b;
    opacity: .56;
    position: absolute;
}
.section-masters__logo::before {
    top: 40px;
    left: 845px;
}
.section-masters__logo::after {
    top: 40px;
    right: 845px;
}
.section-masters__title {
    color: #1a191b;
    font-family: "Montserrat-Light";
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.section-masters-wrap {
    width: 1625px;
    position: relative;
    margin: 140px auto 0 auto;
}
.section-masters-switch {
    width: 240px;
    height: 40px;
    margin-left: 248px;
    color: #4b4949;
    font-family: "Prata-Regular";
    font-size: 14px;
}
.section-masters-switch__active {
    color: #686868;
    font-family: "Prata-Regular";
    font-size: 18px;
}
.section-masters-switch::before,
.section-masters-switch::after {
    content: url(../img/arrow.png)"";
    display: block;
    position: absolute;
}
.section-masters-switch::before {
    top: -38px;
    left: 175px;
    transform: rotate(-90deg);
}
.section-masters-switch::after {
    top: -37px;
    left: 345px;
    transform: rotate(90deg);
}
.section-masters__text {
    color: #f5f5f5;
    font-family: "Prata-Regular";
    font-size: 279px;
    padding: 0;
    margin: 0;
    z-index: -1;
    position: absolute;
    top: 157px;
    right: 53px;
}
.section-masters__card {
    width: 1040px;
    height: 665px;
    background-color: #fafafa;
    display: flex;
}
.section-masters__img {
    width: 385px;
    height: 665px;
}
.wrp {
    margin: 45px 0 0 100px;
}
.section-masters__card__title {
    color: #19191b;
    font-family: "Montserrat-SemiBold";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 45px;
}
.section-masters-list {
    padding: 0;
}
.section-masters-list__item {
    list-style: none;
    color: #19191b;
    font-family: "Montserrat-Regular";
    font-size: 17px;
    margin: 30px 0;
    letter-spacing: 2px;
}
.list__item-bold {
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    font-size: 15px;
}
.section-masters-form__text {
    color: #19191b;
    font-family: "Montserrat-Medium";
    font-size: 18px;
    text-transform: uppercase;
    margin: 80px 0 50px 0;
}
.section-masters-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
input[type=text]{
    margin: 10px 0;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #94949446;
}
.wrp > .sing_up {
    width: 300px;
    padding: 0;
    margin-left: 200px;
}
.section-masters__right-pic__item {
    width: 671px;
    height: 723px;
    position: absolute;
    top: 40px;
    right: -80px;
}