.section-masters {
    min-width: 1200px;
    margin: 40px auto 170px auto;
    position: relative;
}
.section-masters__logo {
    background: url(../img/logo-small.png) no-repeat;
    background-size: contain;
    width: 9%;
    height: 35px;
    margin: 0 auto;
    position: relative;
}
.section-masters__logo::before,
.section-masters__logo::after {
    content: "";
    display: block;
    width: 49px;
    border-bottom: 1px solid #19191b;
    opacity: .56;
    position: absolute;
    top: 24px;
}
.section-masters__logo::before {
    left: 73px;
}
.section-masters__logo::after {
    right: 127px;
}
.section-masters__title {
    color: #1a191b;
    font-family: "Montserrat-Light";
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}
.section-masters-wrap {
    width: 90%;
    position: relative;
    margin: 100px auto 0 auto;
}
// .section-masters-switch {
//     width: 240px;
//     height: 40px;
//     margin-left: 120px;
//     color: #4b4949;
//     font-family: "Prata-Regular";
//     font-size: 14px;
// }
// .section-masters-switch__active {
//     color: #686868;
//     font-family: "Prata-Regular";
//     font-size: 18px;
// }
// .section-masters-switch::before,
// .section-masters-switch::after {
//     content: "";
//     display: block;
//     position: absolute;
//     background-image: url(../img/arrow.png);
// }
// .section-masters-switch::before {
//     top: -38px;
//     left: 40px;
//     transform: rotate(-90deg);
// }
// .section-masters-switch::after {
//     top: -37px;
//     left: 230px;
//     transform: rotate(90deg);
// }
.section-masters__item > .container_services-counter {
    transform: rotate(0deg);
    top: -40px;
    left: 102px;
}
.section-masters__text {
    color: #f5f5f5;
    font-family: "Prata-Regular";
    font-size: 186px;
    padding: 0;
    margin: 0;
    z-index: -1;
    position: absolute;
    top: -120px;
    right: -65px;
}

.section-masters__card {
    background-color: #fafafa;
    display: flex;
    width: 66%;
}
.section-masters__img {
    width: 275px;
    height: 466px;
}
.wrp {
    margin: 45px 0 0 60px;
}
.section-masters__card__title {
    color: #19191b;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 45px;
}
.section-masters-list {
    padding: 0;
    margin-block-end: 35px;
}
.section-masters-list__item {
    list-style: none;
    color: #19191b;
    font-family: "Montserrat-Regular";
    font-size: 11px;
    margin: 15px 0;
    letter-spacing: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.list__item-bold {
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    font-size: 10px;
}
.section-masters-form__text {
    color: #19191b;
    font-family: "Montserrat-Medium";
    font-size: 13px;
    text-transform: uppercase;
    margin: 40px 0 33px 0;
}
.section-masters-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: "Montserrat-Light";
    font-size: 14px;

}
.section-masters-form > input[type=text]:active,  
                                        :hover,  
                                        :focus { 
    outline: 0; 
    outline-offset: 0; 
}
.section-masters-form > input[type=text]{
    margin: 10px 0;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid #94949446;
    background: #fafafa;
    width: 90%;
    font-size: 10px;
}
.wrp > .sing_up {
    width: 180px;
    padding: 10px 25px;
    margin: 20px 0 0 140px
}
.section-masters__right-pic {
    position: absolute;
    top: 0;
    right: -34px;
    width: 38%;
}
.section-masters__right-pic__item {
    width: 100%;
    height: 509px;
}