.wrapper_reviews {
    width: 100%;
    min-width: 1652px;
    color: #1a191b;
    font-size: 16px;
    background-color: #f6f6f6;
    font-family: 'Montserrat-Regular';
    background: url('../img/nail.png'), url('../img/beauty.png') #f6f6f6;
    background-repeat: no-repeat, no-repeat;
    background-position-x: 0%, 100%;
    background-position-y: 130px, 0%;
    position: relative;
    z-index: 0;
}
.container_reviews {
    width: 1652px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container_reviews::before {
    content: url('../img/style.png');
    position: absolute;
    left: 790px;
    top: 120px;
}
.title_reviews {
    font-family: 'Montserrat-Light';
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    color: #1a191b;
    padding-top: 185px;
    padding-bottom: 120px;
    margin: 0;
}
.title_reviews::before {
    content: '';
    border-bottom: 1px solid #7b7a7b;
    display: inline-block;
    width: 50px;
    position: absolute;
    top: 145px;
    left: 730px;
}
.title_reviews::after {
    content: '';
    border-bottom: 1px solid #7b7a7b;
    display: inline-block;
    width: 50px;
    position: absolute;
    top: 145px;
    left: 863px;
}
.list_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 105px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.list_reviews-item>img {
    border-radius: 100%;
    margin-bottom: 40px;
    transition-duration: 200ms;
    transition-delay: 50ms;
    cursor: pointer;
}
.list_reviews-item>img:hover {
    transform: scale(1.1);
    box-shadow: 0 30px 23px -7px rgba(0,0,0,.08);
}
.list_reviews-item_name {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
}
.list_reviews-item_position {
    text-transform: lowercase;
    font-size: 12px;
    color: #7e7e7e;
    text-align: center;
    font-weight: 700;
}
.review {
    width: 1178px;
    background-color: #fff;
    padding-top: 65px;
    padding-bottom: 85px;
    padding-left: 115px;
    display: flex;
    position: relative;
    box-shadow: 0px 30px 23px -7px rgba(0,0,0,0.08);
    z-index: 1;
}
.review-position {
    text-transform: uppercase;
    color: #a9a9a9;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
}
.review-name {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
}
.review-text {
    width: 440px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
}
.review-article {
    padding-right: 111px;
}
.review>img {
    position: absolute;
    top: -52px;
    left: 702px;
}
.link_review {
    position: absolute;
    top: 433px;
    left: 593px;
    width: 40px;
    height: 40px;
}
.cp_block_secondary {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -10px;
    left: 0;
    background: url('../img/brush.png'),#f6f6f6;
    background-repeat: repeat-x;
    background-position-y: 10px;
    z-index: 0;
}