// .wrapper_services {
//     min-width: 1200px;
//     font-family: 'Montserrat', sans-serif;
//     color: #1a191b;
//     font-size: 11px;
//     line-height: 20px;
// }
// .container_services {
//     width: 1150px;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     padding-top: 130px;
//     position: relative;
// }
// .list_services {
//     width: 98%;
//     margin: 0;
//     padding-left: 20px;
//     display: flex;
//     justify-content: space-between;
//     list-style: none;
// }
// .list_services-item > a {
//     box-sizing: border-box;
//     color: #5b5a5d;
//     text-decoration: none;
//     border-bottom: 2px solid transparent;
//     font-weight: 600;
//     transition-delay: 50ms;
//     transition-duration: 200ms;
//     padding-bottom: 3px;
// }
// .list_services-item > a:hover {
//     border-bottom: 1px solid #5b5a5d;
// }
// .list_services-item > a:active {
//     font-weight: 900;
//     border-bottom: 1px solid #5b5a5d;
// }
// .slider_light {
//     background: url('../img/bg-slider1.png');
//     background-position-y: 25px;
//     background-position-x: 20px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
// }
// .slider_light__top {
//     width: 30%;
//     margin: 0 30px 0 auto;
//     text-align: right;
// }
// .slider_light-text_hair {
//     margin: 125px 40px 25px 0;
//     font-size: 19px;
//     font-weight: 600;
//     color: #88233b;
//     font-family: Montserrat-Regular;
//     position: relative;
// }
// .slider_light-text_hair::before {
//     content: '';
//     display: inline-block;
//     width: 110px;
//     border-bottom: 1px solid #1a191b;
//     margin: 0 13px 7px 0;
// }
// .slider_light-text_haircut {
//     margin: 5px auto;
//     font-size: 41px;
//     line-height: 45px;
//     width: 300px;
//     font-family: 'Montserrat-Light';
//     position: relative;
// }
// .slider_light-text_haircut::before {
//     content: '05';
//     display: inline-block;
//     position: absolute;
//     text-decoration: line-through;
//     top: -140px;
//     right: 0px;
//     font-family: 'Prata-Regular';
//     font-size: 15px;
//     font-weight: 600;
// }
// .slider_light-text_haircut>span {
//     margin-left: 10px;
// }
// .slider_light-text_price {
//     font-size: 30px;
//     line-height: 48px;
//     color: #88233b;
//     margin: 0 35px 37px 0;
//     font-family: 'Montserrat-SemiBold';
// }
// .list_service_light {
//     list-style: none;
//     font-size: 13px;
//     font-family: 'Montserrat-Regular';
//     margin-bottom: 30px;
//     padding: 0;
//     margin-right: 180px;
//     position: relative;
// }
// .list_service_light-item:nth-last-of-type(n+2) {
//     margin: 0;
//     margin-bottom: 10px;
// }
// .list_service_light-item {
//     position: relative;
// }
// .list_service_light-item::before {
//     content: '';
//     display: inline-block;
//     width: 30px;
//     border-bottom: 1px solid #1a191b;
//     position: absolute;
//     top: 10px;
//     left: -42px;
// }
// .list_service_light::after {
//     content: '';
//     width: 105px;
//     border-bottom: 1px solid #1a191b;
//     display: inline-block;
//     position: absolute;
//     top: 230px;
//     left: 83px;
// }
// .link_enroll_light {
//     width: 230px;
//     height: 44px;
//     margin: 0 145px 60px 0;
//     font-family: Montserrat-Bold;
//     color: #1a191b;
//     font-size: 12px;
//     line-height: 44px;
//     text-align: center;
//     text-decoration: none;
//     border: 1px solid #1a191b;
//     text-transform: uppercase;
//     transition-duration: 200ms;
//     transition-delay: 50ms;
// }
// .link_enroll_light:hover {
//     background-color: #cccccc;
//     color: #88233b;
// }
// .container_services::before {
//     content: 'Основные услуги';
//     position: absolute;
//     transform: rotateZ(270deg);
//     font-size: 34px;
//     line-height: 15px;
//     font-family: Montserrat-Regular;
//     text-transform: uppercase;
//     top: 455px;
//     left: -207px;
// }


// .slider_dark {
//     background: url('../img/dark.jpg');
//     background-position-y: 25px;
//     background-position-x: 20px;
//     background-repeat: no-repeat;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     color: #ffffff;
// }
// .slider_dark-text_hair {
//     margin-top: 130px;
//     margin-right: 105px;
//     font-size: 24px;
//     font-weight: 600;
//     color: #c0a38a;
//     margin-bottom: 60px;
//     font-family: 'Montserrat-Regular';
//     position: relative;
// }
// .slider_dark-text_hair::before {
//     content: '';
//     display: inline-block;
//     width: 125px;
//     border-bottom: 1px solid #4f4f4f;
//     position: absolute;
//     top: 10px;
//     left: -150px;
// }
// .slider_dark-text_haircut {
//     font-size: 60px;
//     line-height: 60px;
//     margin-bottom: 60px;
//     margin-right: 105px;
//     margin-top: 0;
//     font-weight: 100;
//     text-align: end;
//     width: 300px;
//     font-family: 'Montserrat-Light';
//     position: relative;
// }
// .slider_dark-text_haircut>span {
//     margin-left: -5px;
// }
// .slider_dark-text_price {
//     font-size: 40px;
//     line-height: 48px;
//     color: #c0a38a;
//     margin: 0;
//     margin-bottom: 85px;
//     margin-right: 105px;
//     font-family: 'Montserrat-SemiBold';
// }
// .list_service_dark {
//     list-style: none;
//     font-size: 14px;
//     font-family: 'Montserrat-SemiBold';
//     margin-bottom: 55px;
//     padding: 0;
//     margin-right: 220px;
//     position: relative;
// }
// .list_service_dark-item:nth-last-of-type(n+2) {
//     margin: 0;
//     margin-bottom: 15px;
// }
// .list_service_dark-item {
//     position: relative;
// }
// .list_service_dark-item::before {
//     content: '';
//     display: inline-block;
//     width: 30px;
//     border-bottom: 1px solid #ffffff;
//     position: absolute;
//     top: 10px;
//     left: -50px;
// }
// .list_service_dark::after {
//     content: '';
//     width: 105px;
//     border-bottom: 1px solid #ffffff;
//     display: inline-block;
//     position: absolute;
//     top: 290px;
//     left: 115px;
// }
// .link_enroll_dark {
//     font-family: 'Montserrat-Bold';
//     color: #ffffff;
//     font-size: 14px;
//     line-height: 60px;
//     width: 270px;
//     height: 60px;
//     margin: 0;
//     text-align: center;
//     text-decoration: none;
//     margin-right: 225px;
//     border: 1px solid #ffffff;
//     margin-bottom: 60px;
//     text-transform: uppercase;
//     transition-duration: 200ms;
//     transition-delay: 50ms;
// }
// .link_enroll_dark:hover {
//     background-color: #3a3939;
//     color: #c0a38a;
// }
// .slider_dark-text_haircut::before {
//     content: '01';
//     display: inline-block;
//     position: absolute;
//     text-decoration: line-through;
//     top: -140px;
//     right: 0px;
//     font-family: 'Prata-Regular';
//     font-size: 24px;
// }
// .container_services-counter { 
//     width: 40px; 
//     height: 200px; 
//     transform: rotate(90deg); 
//     position: absolute; 
//     top: 365px;
//     right: 30px;
// } 
// .container_services-counter__text { 
//     color: #4b4949; 
//     font-family: "Prata-Regular"; 
//     font-size: 12px; 
// } 
// .container_services-counter__active { 
//     font-weight: 900; 
// } 
// .container_services-counter::before, 
// .container_services-counter::after { 
//     content: url(../img/arrow.png)""; 
//     display: block; 
//     position: absolute; 
//     top: -27px;
// } 
// .container_services-counter::before { 
//     transform: rotate(-90deg); 
//     left: -68px; 
// } 
// .container_services-counter::after { 
//     transform: rotate(90deg); 
//     left: 84px; 
// } 

.services {
    .tabs {
        &__heading {
            color: #565656;
            font-family: "Montserrat-Regular";
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 15px;
        }
    
        &__wrapper {
            width: 260px;
            margin: 0 auto;
            position: relative;
            color: #232323;
            font-family: "Montserrat-SemiBold";
            font-size: 11px;
            text-transform: uppercase;
        }
    
        &__current {
            height: 54px;
            border: 1px solid #cccccc;
            line-height: 54px;
        }
    
        &__list {
            display: none;
            position: absolute;
            padding: 15px 0;
            width: calc(100% - 2px);
            top: 100%;
            background: #fff;
            border: 1px solid #cccccc;
    
            &--opened {
                display: block;
                z-index: 2;
            }
        }
    }
    
    .tab {
        line-height: 36px;
    
        &_content {
            margin-top: 30px;
            background-color: #f1f1f1;
            box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.12);
        }
    
        &_item {
            position: relative;
        }
    }
    
    .item {
        position: relative;
        text-align: left;
    
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    
        &__content {
            padding: 50px 15px;
        }
    
        .item__image {
            width: 100%;
            height: 215px;
            object-fit: cover;
        }

        &__heading {
            color: #565656;
            font-family: "Montserrat-Regular";
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 5px;
        }

        &__price {
            margin-bottom: 5px;
            color: #88233b;
            font-family: "Montserrat-SemiBold";
            font-size: 26px;
        }

        .list__item {
            position: relative;
            margin-top: 10px;
            padding-left: 30px;
            color: #1a191b;
            font-family: "Montserrat-Regular";
            font-size: 11px;
            line-height: 14px;

            &::before {
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                width: 20px;
                height: 1px;
                background-color: #282828;
            }
        }

        &__button {
            display: block;
            height: 54px;
            margin-top: 40px;
            border: 1px solid #cccccc;
            line-height: 54px;
            text-align: center;
            text-decoration: none;
            color: #88233b;
            font-family: "Montserrat-SemiBold";
            font-size: 11px;
            text-transform: uppercase;
        }
    }
    
    .owl-dots {
        display: none;
    }
    
    .owl-nav {
        position: absolute;
        width: 100%;
        bottom: -40px;
        cursor: pointer;

        button {
            position: absolute;
            width: 80px;
            height: 20px;
        }

        span {
            display: none;
        }
    }

    .owl-prev {
        left: 0;
        background-image: url('../img/prev.png') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .owl-next {
        right: 0;
        background-image: url('../img/next.png') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
}
