.testimonials {
    position: relative;
    background-color: #f6f6f6;
    padding: 50px 0;

        .beauty, .nail {
            display: none;
        }

        &__article {
            display: none;
        }

    .section__inner .testimonials__inner{
        .section {
            &__title {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }    

    .item {
        padding: 15px;
        margin-top: -15px;

        &__image {
            max-width: 145px;
            height: 145px;
            margin: 0 auto 40px;
            border-radius: 50%;
        }

        &__content { 
            padding-bottom: 90px;
        }

        &__heading {
            font-size: 16px;
            line-height: 24px;
            font-family: "Montserrat-SemiBold";
            text-transform: uppercase;
            margin-bottom: 5px;
            color: #1a191b;
        }

        &__caption {
            font-size: 16px;
            line-height: 24px;
            font-family: "Montserrat-Regular";
            color: #7e7e7e;
        }
    }

    .post {
        background-color: #ffffff;
        box-shadow: -1px 4px 8px 2px rgba(0,0,0,.12);

        &--name {
            display: none;
        }

        &--position {
            display: none;
        }

        &__image-wrapper {
            position: relative;
        }

        &__image {
            margin-bottom: 40px;
        }

        &__body {
            padding: 0 15px 50px;
            color: #5b5a5d;
            font-family: "Montserrat-Regular";
            font-size: 14px;
            line-height: 18px;
            text-align: left;
        }

        &__link {
            position: absolute;
            background-color: #fff;
            bottom: -1px;
            right: 0;
            width: 55px;
            height: 55px;
            padding: 10px;

            svg {
                width: 100%;
                height: 100%;
                fill: #c0a38a;
            }
        }
        .link--extra {
            display: none;
        }
    }

    .owl-nav {
        position: absolute;
        left: 15px;
        top: 275px;
        width: calc(100% - 30px);
        cursor: pointer;

        button {
            position: absolute;
            width: 80px;
            height: 20px;
        }

        span {
            display: none;
        }
    }

    .owl-prev {
        left: 0;
        background-image: url('../img/prev.png') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .owl-next {
        right: 0;
        background-image: url('../img/next.png') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .owl-dots {
        display: none;
    }

    .numbers {
        position: absolute;
        top: 445px;
        align-items: center;
        display: flex;
        left: 50%;
        transform: translateX(-50%);

        &__current {
            color: #4b4a4a;
            font-family: "Montserrat-SemiBold";
            font-size: 20px;
            padding-right: 5px;
        }

        &__count {
            position: relative;
            padding-left: 10px;
            color: #696969;
            font-family: "Montserrat-Regular";
            font-size: 16px;

            &::before {
                content: '/';
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

@media all and (min-width: 480px) {
    .testimonials {

        .item {
            width: 100%;
            max-width: calc(100% - 30px);
        }

        .post {

            &__link {
                transform: scale(.9);
                bottom: -6px;
                right: -5px;
                padding: 20px;
            }

            &__body {
                padding-left: 30px;
                padding-right: 30px;
                font-size: 14px;
            }
        }

        .owl-nav {

            .owl-prev {
                left: 50%;
                transform: translateX(-200%);
            }

            .owl-next {
                right: 50%;
                transform: translateX(200%);
            }
        }
    }
}

@media all and (min-width: 992px) {
    .testimonials {

        .item {
            width: 100%;
            padding-top: 80px;
        }
        
        .owl-nav {
            left: 70px;
            width: 230px;
            top: 0;

            .owl-prev {
                left: 50%;
                transform: translateX(-185%);
            }

            .owl-next {
                right: 50%;
                transform: translateX(215%);
            }
        }

        .numbers--testimonials {
            top: 525px;
            left: 199px;
            z-index: 1;
        }

        &__article {
            display: block;

        }
        
        &__list {

            padding: 0 15px 100px;
            display: flex;  
            justify-content: center;
            font-family: 'Montserrat-SemiBold';
            font-size: 14px;
            line-height: 18px;

            &__item {
                margin: 0 30px;
                
                & > a  {
                    color: #1a191b;
                    text-decoration: none;

                    & > img {
                        border-radius: 50%;
                        margin-bottom: 40px;
                        transition-delay: 50ms;
                        transition-duration: 200ms;
                        width: 153px;
                    }

                    &:hover > img {
                        transform: scale(1.1);
                    }
                }
                
                &--name {
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }

                &--position {
                    font-family: 'Montserrat-Regular';
                    color: #7e7e7e;
                }
            }
        }

        .item {

            &__content {
                display: none;
            }
        }

        .owl-carousel .owl-item .item__image {
            display: none;
        }

        .post {
            width: 70%;
            padding-left: 5%;
            padding-top: 50px;
            padding-bottom: 140px;
            position: relative;
            
                &--position {
                    display: block;
                    text-align: left;
                    font-family: 'Montserrat-SemiBold';
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #a9a9a9;
                    margin-bottom: 15px;
                }
                &--name {
                    display: block;
                    text-align: left;
                    font-family: 'Montserrat-SemiBold';
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 45px;
                }

            &__body {
                font-size: 12px;
                padding: 0;
                padding-bottom: 70px;
                width: 40%;
                left: 0;
                top: 0;
            }
            
            &__image-wrapper {
                position: absolute;
                top: -40px;
                left: 50%;
                width: 65%;
                max-width: 700px;
                height: 100%;
                overflow: hidden;

                & > .post__image--primary {
                    margin-bottom: 0;
                    transform: translateY(0);
                }

                & > .post__image--secondary {
                    transform: translateY(-15%);
                }

                & > .post__image--last{
                    transform: translateY(-10%);
                }
            }

            &__link {
                padding: 0;
                transform: scale(.7);
                left: -80px;
                bottom: 40px;
                z-index: 1;
            }

            .link--extra {
                display: block;
            }

        }

        .post--primary {
            padding-bottom: 20px;
        }

        .post--secondary {
            padding-bottom: 20px;
        }

        .post--last {
            padding-bottom: 20px;
        }

        .link--extra {
                display: block;
                position: static;
                margin-left: 35%;
            }

            .extra--primary {
                position: static;
                margin-top: 20px;
                margin-left: 105px;
                left: 40px;
                top: 390px;
            }
            
            .extra--secondary {
                position: static;
                margin-top: 80px;
                margin-left: 105px;
                left: 40px;
                top: 390px;
            }

            .extra--last {
                position: static;
                margin-top: 100px;
                margin-left: 105px;
                left: 40px;
                top: 390px;
            }
    }
}

@media all and (min-width: 1200px) {
    .testimonials {

        .beauty, .nail {
            display: block;
            font-family: 'Prata-Regular';
            color: #ffffff;
            position: absolute;
            font-size: 180px;
        }

        .nail {
            top: 450px;
            left: -100px;
            transform: rotateZ(90deg);
        }

        .numbers--testimonials {
            left: 230px;
        }
        
        .post--primary {
            padding-bottom: 30px;
        }

        .post--secondary {
            padding-bottom: 40px;
        }

        .post--last {
            padding-bottom: 40px;
        }

        .owl-nav {
            left: 70px;
            width: 230px;
            top: 0;

            .owl-prev {
                left: 50%;
                transform: translateX(-140%);
            }

            .owl-next {
                right: 50%;
                transform: translateX(260%);
            }
        }

        .extra--primary {
            margin-left: 130px;
            margin-top: 80px;
        }

        .extra--secondary {
            margin-left: 130px;
            margin-top: 140px;
        }

        .extra--last {
            margin-left: 130px;
            margin-top: 140px;
        }
    }
}

@media all and (min-width: 1600px) {

    .testimonials {

        .numbers--testimonials {
            left: 360px;
        }
    }
}