.testimonials {
    position: relative;
    background-color: #f6f6f6;
    padding: 50px 0;

        &__article {
            display: none;
        }

    .item {
        padding: 15px;
        margin-top: -15px;

        &__image {
            max-width: 145px;
            height: 145px;
            margin: 0 auto 40px;
            border-radius: 50%;
        }

        &__content { 
            padding-bottom: 90px;
        }

        &__heading {
            font-size: 16px;
            line-height: 24px;
            font-family: "Montserrat-SemiBold";
            text-transform: uppercase;
            margin-bottom: 5px;
            color: #1a191b;
        }

        &__caption {
            font-size: 16px;
            line-height: 24px;
            font-family: "Montserrat-Regular";
            color: #7e7e7e;
        }
    }

    .post {
        background-color: #ffffff;
        box-shadow: -1px 4px 8px 2px rgba(0,0,0,.12);

        &__image-wrapper {
            position: relative;
        }

        &__image {
            margin-bottom: 40px;
        }

        &__body {
            padding: 0 15px 50px;
            color: #5b5a5d;
            font-family: "Montserrat-Regular";
            font-size: 14px;
            line-height: 18px;
            text-align: left;
        }

        &__link {
            position: absolute;
            background-color: #fff;
            bottom: -1px;
            right: 0;
            width: 55px;
            height: 55px;
            padding: 10px;

            svg {
                width: 100%;
                height: 100%;
                fill: #c0a38a;
            }
        }
    }

    .owl-nav {
        position: absolute;
        left: 15px;
        top: 275px;
        width: calc(100% - 30px);
        cursor: pointer;

        button {
            position: absolute;
            width: 80px;
            height: 20px;
        }

        span {
            display: none;
        }
    }

    .owl-prev {
        left: 0;
        background-image: url('../img/prev.png') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .owl-next {
        right: 0;
        background-image: url('../img/next.png') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .owl-dots {
        display: none;
    }

    .numbers {
        position: absolute;
        top: 445px;
        align-items: center;
        display: flex;
        left: 50%;
        transform: translateX(-50%);

        &__current {
            color: #4b4a4a;
            font-family: "Montserrat-SemiBold";
            font-size: 20px;
            padding-right: 5px;
        }

        &__count {
            position: relative;
            padding-left: 10px;
            color: #696969;
            font-family: "Montserrat-Regular";
            font-size: 16px;

            &::before {
                content: '/';
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

@media all and (min-width: 480px) {
    .testimonials {

        .item {
            width: 100%;
            max-width: calc(100% - 30px);
        }

        .post {

            &__link {
                transform: scale(.9);
                bottom: -6px;
                right: -5px;
                padding: 20px;
            }

            &__body {
                padding-left: 30px;
                padding-right: 30px;
                font-size: 14px;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .testimonials {

        .item {
            width: 100%;
            max-width: 100%;
            padding-top: 80px;
        }

        &__article {
            display: block;

        }
        
        &__list {

            padding: 0 15px 100px;
            display: flex;  
            justify-content: center;
            font-family: 'Montserrat-SemiBold';
            font-size: 14px;
            line-height: 18px;

            &__item {
                margin: 0 30px;
                
                & > img {
                    border-radius: 50%;
                    margin-bottom: 40px;
                    transition-delay: 50ms;
                    transition-duration: 200ms;
                }
                
                &--name {
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }

                &--position {
                    font-family: 'Montserrat-Regular';
                    color: #7e7e7e;
                }

                &:hover {
                    cursor: pointer;
                }

                &:hover > img {
                    transform: scale(1.1);
                }
            }
        }
        .item {

            &__content {
                display: none;
            }
        }

        .owl-carousel .owl-item .item__image {
            display: none;
        }

        .post {
            margin-right: 28%;
            padding-left: 10%;
        }
    }
}